.kedarnath {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rishikesh {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.book-now {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.cir-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.choose-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
