@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  --breakpoint-el: 1100px;
  --breakpoint-tw: 1200px;
  --breakpoint-eig: 800px;
  --breakpoint-sev: 700px;
  --font-display: "Montserrat", "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Poppins";
}
